{% extends 'base.html' %}
{% load static %}
    
    {% block title %} About Us{% endblock %}
        
    {% block main_heading %}
        This Site has been designed and deployed by Seyed Jamil Sabbaghi Faragard.
        <hr/>
    {% endblock %}

    {% block header_content %}
        <p>Support me on Linked: https://www.linkedin.com/in/seyed-jamil-sabbaghi-faragard/ </p>
        <hr/>
        <hr/>
    {% endblock %}
       
    {% block body %} 
        Contact me on jsabaghi@gmail.com
	<hr/>
        <hr/>
    {% endblock %}

